body {
    user-select: none;
    margin: 0;
    padding: 0;
  }
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 640px;
    transform: translate(-320px,-320px);
}

.helpWrap{
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.3);
}


.help{
    display: block;
    width: 400px;
    margin: 0 auto;

    /* 垂直居中 */
    margin-top: 50%;
    transform: translate(0, -50%); 

    color: white;
    border:1px solid;
    padding: 10px;
}

.close{
    display: block;
    width: 10px;
    height: auto;
    padding: 1px 8px;
    color: white;
    background-color: red;
    border:1px solid;

    position: relative;
    top: 0;
    left: 373px;
    margin-top: -11px;
    margin-left: 10px;
}

.scoreWrap{
    position: absolute;
    right: 50px;
    z-index: 10;
}

.btn{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    z-index: 2;
    /* background-color: rgba(7, 25, 192, 0.753); */
    /* border: 1px solid red; */
}

.btn button{
    box-shadow: 2px 4px 4px rgb(165, 164, 164);
    background-size: 100% 100%;
    border: 0.1px solid black;
    border-radius: 20px;
    
    cursor: pointer;
    outline: none;

    position: absolute;
    right:  -100px;
    top: 16px;

    width: 88px;
    height: 34px;
}
.btn-hover{
    background-color: #268dc9;
    color: white;
}
.btn-active {
    box-shadow: 2px 4px 4px rgb(165, 164, 164);
    transform: translateY(2px);
}

.startBtn button{

}
.pauseBtn button{
    margin-top: 46px;
}
.helpBtn button{
    margin-top: 92px;
}

#snakeWrap{
    width: 600px;
    height: 600px;
    background: #19638d;
    border: 20px solid #28adfa;

    position: relative;
}

#snakeWrap div{
    width: 20px;
    height: 20px;
}

.snakeHead{
    background-image: url(../images/snakeHead3_20_21.png);
    background-size: 100% 95%;
    background-repeat: no-repeat;
}
.snakeBody{
    background-image: url(../images/snakeBody1_20_20.png);
    background-size: 95% 90%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.food{
    background-image: url(../images/apple.png);
    background-size: 100% 100%;
}


.hide {
    display: none;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    z-index: 12;
    top: 0;
    text-align: center;
}

.mask p{
    width: 20%;
    color: white;
    margin: 50% auto;
    padding: 2%;
    transform: translate(0, -50%);
    border: 1px solid white;
    border-radius: 50%;
}

.preload {
    width: 0;
    height: 0;
}
.preload .i1 {
    background-image: url(../images/apple.png);
}
.preload .i2 {
    background-image: url(../images/snakeHead3_20_21.png);
}
.preload .i3 {
    background-image: url(../images/snakeBody1_20_20.png);
}